{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="{% static 'shop/styles.css' %}"></script>
    </head>
<body>
    {% include 'shop/navbar.html' %}

    <div class="flex mt-32 items-center justify-center space-x-32">
        <div class="w-96 h-96 ">
            <img src="{{ product_object.image }}" class="object-cover" alt="">
        </div>
        <div>
            <h1 class="text-6xl font-bold">{{ product_object.title }}</h1>
            <h1 class="text-4xl"><span class="text-red-500 text-xl">$ </span><s>{{ product_object.price }}</s></h1>
            <h1 class="text-3xl"><span class="text-red-500 text-xl">$ </span>{{ product_object.discount_price }}</h1>
            <h1 class="text-2xl font-semibold text-zinc-500">Rating : ⭐ {{ product_object.rating }}</h1>
            <h1 class="text-xl font-medium text-zinc-500">{{ product_object.description }}</h1>

        </div>

    </div>

    {% include 'shop/footer.html' %}

</body>
<script type="text/javascript">
</script>
</html>