{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5312aac142.js" crossorigin="anonymous"></script>
    <script src="{% static 'shop/styles.css' %}"></script>

    
</head>

<body class="debug-screens">

    {% include 'shop/navbar.html' %}
    
    <div class="mt-10 w-full">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 text-4xl w-3/4 mx-auto my-10">
            {% for product in product_objects %}
            <div class="flex flex-col "> 
                <div class="rounded-lg shadow-xl p-4 flex-1"> 
                    <div class="flex justify-center items-center">
                        <img src="{{ product.image }}" class="w-44 h-44 object-cover" alt="">
                    </div>
    
                    <h1 id="nm{{product.id}}" class="text-4xl font-bold text-center">{{ product.title }}</h1>
                    <div class="flex justify-between my-5">
                        <h1 id="" class="text-lg font-semibold"><span class="text-red-500">$</span><s>{{ product.price }}</s></h1>
                        <h1 id="price{{product.id}}" class="text-lg font-semibold">{{ product.discount_price }}</h1>
                        <h1 class="text-lg font-semibold">⭐ {{ product.rating }}</h1>
                    </div>
                    <p class="text-sm text-zinc-500 text-center">{{ product.description }}</p>
    
                    <div class="flex justify-between text-xl my-5">
                        <a href="/{{ product.id }}" class="px-3 py-1 rounded shadow-lg bg-gradient-to-br from-violet-600 to-violet-400 text-white font-semibold">View</a>
                        <a href="" id="{{ product.id }}" class="px-3 py-1 rounded shadow-lg bg-gradient-to-br from-violet-600 to-violet-400 text-white font-semibold atc">Add to Cart</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
        <div>
            <ul class="flex space-x-32 justify-center items-center my-10">
                {% if product_objects.has_previous %}
                <li>
                    <button class="rounded-lg shadow-lg px-4 text-xl bg-violet-400 text-white py-2">
                    <a href="?page={{ product_objects.previous_page_number }}">Prev</a>
                    </button>
                </li>
                {% endif %}



                <li>
                    <button class="rounded-lg shadow-lg px-4 text-xl bg-violet-600 text-white py-2">
                    <a href="?page={{ product_objects.number }}">Current</a>
                    </button>
                </li>


                {% if product_objects.has_next %}
                <li>
                    <button class="rounded-lg shadow-lg px-4 text-xl bg-violet-400 text-white py-2">
                    <a href="?page={{ product_objects.next_page_number }}">Next</a>
                    </button>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

    {% include 'shop/footer.html' %}

</body>



<script type="text/javascript">
    

    if(localStorage.getItem('cart')==null){
        var cart = {};
    }
    else{
        cart = JSON.parse( localStorage.getItem('cart'));
    }

    $(document).on('click','.atc',function(){
        event.preventDefault();
        console.log("add cart is clicked");
        var item_id = this.id.toString();
        console.log(item_id);


        // cart[1]=2;

        if(cart[item_id]!=undefined){
            quantity = cart[item_id][0] +1;
            cart[item_id][0] = quantity;

            cart[item_id][2] = cart[item_id][2] + parseFloat(document.getElementById("price"+item_id).innerHTML);  //price value


            // cart[item_id]= cart[item_id]+1;
        }
        else{
            quantity = 1;
            // cart[item_id] = 1;

            price = parseFloat(document.getElementById("price"+item_id).innerHTML);
            name = document.getElementById("nm"+item_id).innerHTML;
            cart[item_id] = [quantity,name,price];

            // cart[1][0] id=1 and gives access to quantity
            // cart[1][1] gives access to name
        }
        console.log(cart);
        localStorage.setItem('cart',JSON.stringify(cart));

        document.getElementById("cart").innerHTML ="cart("+Object.keys(cart).length+")"; 
        
    });


</script>

</html>